
Parameters: 
    MongoLaunchconfigAssociatepublicipaddress:
        Type: String
        Default: True
        Description: Whether individual instances get public IP
    MongoLaunchconfigEbsoptimized:
        Type: String
        Default: False
        Description: Whether EbsOptimized is used. Probably not required
    MongoLaunchconfigImageid:
        Type: AWS::EC2::Image::Id
        Default: ami-67589505
        Description: The ID of the AMI to be used. This Cloudformation will expect Red Hat/CentOS/Amazon Linux
    MongoLaunchconfigInstancemonitoring:
        Type: String
        Default: False
        Description: Whether to setup CloudWatch monitoring. Suggest to do this for production
    MongoLaunchconfigInstancetype:
        Type: String
        Default: t2.micro
    MongoLaunchconfigKeyname:
        Type: AWS::EC2::KeyPair::KeyName
        Description: SSH Key to use
    MongoLaunchconfigSecuritygroupsshcidrip:
        Type: String
        Default: 0.0.0.0/0
        Description: IP address range that needs to be able to SSH
    GraylogSubnet1:
        Type: String
    GraylogSubnet2:
        Type: String
    GraylogSubnet3:
        Type: String
    GraylogLaunchconfigSecuritygroup:
        Type: String

Resources:
    MongoAutoscaler:
         Type: 'AWS::AutoScaling::AutoScalingGroup'
         Properties:
            VPCZoneIdentifier:
               - !Ref GraylogSubnet1
               - !Ref GraylogSubnet2
               - !Ref GraylogSubnet3
            LaunchConfigurationName: !Ref MongoLaunchconfig
            MinSize: '3'
            MaxSize: '3'
            DesiredCapacity: '3'
         CreationPolicy:
            ResourceSignal:
               Timeout: PT30M
         UpdatePolicy:
            AutoScalingRollingUpdate:
               MinInstancesInService: '2'
               MaxBatchSize: '1'
               PauseTime: PT15M
               WaitOnResourceSignals: 'true'
               MinSuccessfulInstancesPercent: '50'       
    MongoAutoscalerIamInstanceProfile:
         Type: 'AWS::IAM::InstanceProfile'
         Properties: 
             Roles: 
                - !Ref MongoAutoscalerIamInstanceRole
             InstanceProfileName: MongoAutoscalerIamInstanceProfile
    MongoAutoscalerIamInstanceRole:
         Type: 'AWS::IAM::Role'
         Properties: 
           AssumeRolePolicyDocument:
               Version: "2012-10-17"
               Statement: 
                - 
                  Effect: "Allow"
                  Principal:
                      Service: "ec2.amazonaws.com"
                  Action: 
                   - sts:AssumeRole
           RoleName: MongoAutoscalerIamInstanceRole
    MongoAutoscalerIamInstancePolicy:
         Type: 'AWS::IAM::Policy'
         Properties: 
           PolicyName: MongologAutoscalerIamInstancePolicy
           PolicyDocument:
               Version: "2012-10-17"
               Statement: 
                - Effect: "Allow"
                  Action: 
                   - ec2:DescribeInstances
                   - ec2:DescribeTags
                   - autoscaling:Describe*
                  Resource: "*" 
                - Effect: "Allow"
                  Action: 
                   - s3:GetObject
                  Resource: "arn:aws:s3:::ccl-cloudservices-sandbox-01/*" 
           Roles:
              - !Ref MongoAutoscalerIamInstanceRole
    MongoLaunchconfig: 
        Type: 'AWS::AutoScaling::LaunchConfiguration'
        Metadata:
            Comment: 'Graylog Mongo Server Setup'
            'AWS::CloudFormation::Init':
                configSets:
                    config1:
                        - "step1"
                step1:
                    packages:
                       yum:
                         ansible: []
                    files:
                        /root/bootstrap.yml:
                           source: "{{mongoinstall.url}}"
                           owner: root
                           group: root
                    commands: 
                        command1:
                              command: /usr/bin/ansible-playbook /root/bootstrap.yml    
   
        Properties:
            AssociatePublicIpAddress: !Ref MongoLaunchconfigAssociatepublicipaddress
            EbsOptimized: !Ref MongoLaunchconfigEbsoptimized
            InstanceMonitoring: !Ref MongoLaunchconfigInstancemonitoring
            InstanceType: !Ref MongoLaunchconfigInstancetype
            ImageId: !Ref MongoLaunchconfigImageid
            KeyName: !Ref MongoLaunchconfigKeyname
            IamInstanceProfile: !Ref MongoAutoscalerIamInstanceProfile
            SecurityGroups:
               - !Ref GraylogLaunchconfigSecuritygroup
            UserData:
               Fn::Base64: 
                    !Sub |
                    #!/bin/bash -xe
                    #install ansible 
                    yum install -y --enablerepo="rhui-REGION-rhel-server-extras" ansible https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm 
                    #get aws credentials into appropriate config file to access info from S3 EC2 Autoscaling
                    yum install -y jq python-pip
                    pip install awscli https://s3.amazonaws.com/cloudformation-examples/aws-cfn-bootstrap-latest.tar.gz
                    mkdir /root/.aws
                    InstanceProfileArn=$(curl  http://169.254.169.254/latest/meta-data/iam/info/ 2> /dev/null | jq -r '.InstanceProfileArn')
                    cat << EOF > /root/.aws/config
                    [default]
                    output = json
                    region = ap-southeast-2
                    EOF
                    echo "InstanceProfileArn = $InstanceProfileArn" >> /root/.aws/config
                    aws s3 cp s3://ccl-cloudservices-sandbox-01/mongoinstall.yml /root/bootstrap.yml
                    aws s3 cp s3://ccl-cloudservices-sandbox-01/mongoinstall.sh /root/mongoinstall.sh
                    chmod +x /root/mongoinstall.sh
                    #get ansible playbook, which itself defines config files and required steps
                    #Run ansible playbook
                    ansible-playbook /root/bootstrap.yml
                    #Signal Success or failure of the playbook
                    /usr/bin/cfn-signal -e $? --stack=${AWS::StackName} --region=${AWS::Region} --resource=MongoAutoscaler
                    #This is a comment to trigger update2
                     
   
