Parameters: 
    KeyName:
       Type: String
       Default: MIKECOWIE.pem
Resources:
    windows2016fullami:
       Type: 'AWS::CloudFormation::Stack'
       Properties:
          Parameters:
              ImageId: ami-d48623b6
              InstanceType: t2.micro
              KeyName: !Ref KeyName
          TemplateURL: "{{cf_ami_2016.url}}"
          TimeoutInMinutes: '30'
#    windows2016coreami:
#       Type: 'AWS::CloudFormation::Stack'
#       Properties:
#          Parameters:
#              ImageId:
#              InstanceType: 
#              UserData: 
#          TemplateURL: "{{cf_ami_2016core.url}}"
#          TimeoutInMinutes: '20'
#    windows2012r2fullami:
#       Type: 'AWS::CloudFormation::Stack'
#       Properties:
#          Parameters:
#              ImageId:
#              InstanceType: 
#              UserData: 
#          TemplateURL: "{{cf_ami_2012r2.url}}"
#          TimeoutInMinutes: '20'
#    windows2012coreami:
#       Type: 'AWS::CloudFormation::Stack'
#       Properties:
#          Parameters:
#              ImageId:
#              InstanceType: 
#              UserData: 
#          TemplateURL: "{{cf_ami_2012r2core.url}}"
#          TimeoutInMinutes: '20'
#    redhatami:
#       Type: 'AWS::CloudFormation::Stack'
#      Properties:
#          Parameters:
#              ImageId:
#              InstanceType: 
#              UserData: 
#          TemplateURL: "{{cf_ami_rhel7.url}}"
#          TimeoutInMinutes: '20'
#    ubuntuami:
#       Type: 'AWS::CloudFormation::Stack'
#       Properties:
#          Parameters:
#              ImageId:
#              InstanceType: 
#              UserData: 
#          TemplateURL: "{{cf_ami_ubuntu18.url}}"
#          TimeoutInMinutes: '20'
